{
  "env": {
    "browser": true,
    "node": false
  },
  "extends": [
    "airbnb",
    "plugin:jest/recommended"
  ],
  "rules": {
    "react/prefer-stateless-function": [
      1,
      {
        "ignorePureComponents": true
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  }
}